:host {
  z-index: 1;
  height: 270px;
}

:host(.selected) {
  z-index: 10;
}

.book-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 8, 2);
  box-shadow: 1px 10px 30px black;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  color: rgba(255, 217, 0, 0.774);
  border-top: 7px solid rgb(253, 253, 253);

  background-image: url("../../assets/book-default.jpg");
  height: 260px !important;
}

.book-wrapper-unselected {
  transform: rotate(90deg);
}

.book-title,
.book-author {
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.book-author {
  text-transform: capitalize;
}

.book-title {
}

.book-wrapper {
  display: grid;
  grid-template-rows: 30% 30% 20% 10%;
}
