:host {
  z-index: 1;
}

:host(.selected) {
  z-index: 10;
}

.book-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 8, 2);
  box-shadow: 1px 10px 30px black;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  color: gold;
  border-top: 4px solid rgb(253, 253, 253);
}

.book-wrapper-unselected {
  transform: rotate(90deg);
}

.book-title {
}
.book-author {
}

.book-title,
.book-author {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
  white-space: nowrap;
}
