<form
  [formGroup]="state === 'book' ? bookForm : authorForm"
  (ngSubmit)="onSubmit()"
>
  <ng-template [ngIf]="state === 'book'" [ngIfElse]="author">
    <h2>
      Книга
      <a (click)="deleteBook()" *ngIf="props.book !== undefined">удалить</a>
    </h2>
    <div class="form-input">
      <label for="author">автор ({{ currentAuthorName() }})</label>
      <select formControlName="author">
        <option disabled value="-1">не выбран</option>
        <option *ngFor="let author of authorsList" [value]="author.id">
          {{ author.name }}
        </option>
      </select>
    </div>
    <div class="form-input">
      <label for="title">название</label>
      <input
        placeholder="не введено..."
        required
        formControlName="title"
        name="title"
      />
    </div>
    <div class="form-input">
      <label for="written">дата написания</label>
      <input
        placeholder="не введено..."
        required
        formControlName="written"
        name="written"
      />
    </div>
    <div class="form-input">
      <label for="pages">количество страниц</label>
      <input
        placeholder="не введено..."
        required
        type="number"
        min="1"
        formControlName="pages"
        name="pages"
      />
    </div>
  </ng-template>
  <ng-template #author>
    <h2>Автор</h2>
    <div class="form-input">
      <label for="firstName">имя</label>
      <input
        placeholder="не введено..."
        required
        formControlName="firstName"
        name="firstName"
      />
    </div>
    <div class="form-input">
      <label for="lastName">фамилия</label>
      <input
        placeholder="не введено..."
        required
        formControlName="lastName"
        name="lastName"
      />
    </div>
    <div class="form-input">
      <label for="patronym">отчество</label>
      <input
        formControlName="patronym"
        name="patronym"
        placeholder="если есть..."
      />
    </div>
  </ng-template>
  <div class="form-buttons-wrapper">
    <button class="form-submit" type="submit">
      {{ props.book === undefined ? "создать" : "принять изменения" }}
    </button>
    <input
      (click)="swapState()"
      type="button"
      class="form-swap"
      [value]="state === 'author' ? 'к книге' : 'к автору'"
    />
  </div>
</form>
