<ng-template #loadingTemplate>
  <h3>loading...</h3>
</ng-template>
<ng-template [ngIf]="loaded" [ngIfElse]="loadingTemplate">
  <div class="app-shelfs">
    <app-shelf
      [props]="{
        books: data,
        selectedBookId: selectedBook ? selectedBook.id : ''
      }"
      (bookSelected)="onBookSelected($event)"
    ></app-shelf>
  </div>
  <div>
    <app-sort (sort)="onSort($event)"></app-sort>
    <app-form
      (bookDeleteEvent)="onBookDelete($event)"
      (bookEvent)="onBook($event)"
      (authorEvent)="onAuthor($event)"
      [props]="{ book: selectedBook, authors: authors }"
    >
    </app-form>
  </div>
</ng-template>
